body{
    background-color: rgb(156, 113, 136);
}
h1 {
    color: rgb(58, 6, 41);
    font-size: 300%;
    text-decoration: underline;
    text-align: center;
}
p{
    color: rgb(59, 56, 59);
    text-align: center;
}