body{
    background-color: rgb(149, 224, 178);
}
h1{
    background-color: darkgoldenrod;
    color: rgb(83, 85, 85);
    font-size: 300%;
    text-decoration: underline;
    text-align: center;
}
p{
    color: rgb(83, 85, 85);
    font-size: 150%;
    text-align: center;

}
.t1{
    background-color: rgb(208, 214, 226);
    text-align: center;
    font-style: inherit;
}
.t2{
    background-color: rgb(208, 214, 226);
    text-align: center;
    font-style: inherit;
}
.t3{
    background-color: rgb(208, 214, 226);
    text-align: center;
    font-style: inherit;
}
